.container-background {
  background-image: radial-gradient(transparent, transparent, black), linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.3)),asset-url('Portfolio-picture.JPG');
  height: 100vh;
  background-size: cover;
}

.container-background h1 {
  display: flex;
  justify-content: center;
  padding-top: 180px;
  color: #ffffffcf;
  font-weight: 400;
  letter-spacing: 0.2em;
  opacity: .9;
}
